<h2>My Orders</h2>
<% @orders.each do |order| %>
  <% img = order.game.photo.attached? ? order.game.photo.key : "defaultgame" %>
  <% start = order.created_at %>
  <% endd = start + order.days * 86400 %>
  <% diff = "#{((endd - start) / 86400).floor} days left" %>

  <% if endd <= Time.now %>
    <% opacity = 50 %>
    <% diff = "" %>
  <% else %>
    <% opacity = 100 %>
  <% end %>

  <%= link_to game_path(order.game) do %>
    <div class="mb-3 card-product opacity-<%= opacity %>">
      <%= cl_image_tag img %>
      <div class="card-product-infos">
        <h2><%= order.game.name.capitalize %></h2>
        <p>Start date: <%= start.strftime("%d-%b-%Y") %></p>
        <p>End date: <%= endd.strftime("%d-%b-%Y") %></p>
        <p><%= diff %></p>
      </div>
    </div>
  <% end %>
<% end %>
