<% title = game.new_record? ? 'New game' : 'Edit game' %>
<h1><%= title %></h1>
<%= simple_form_for(game) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.input :name, label: false, class: "form-control" %>
  </div>
  <%= f.input :available, as: :boolean, class: "form-check-input" %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.input :description, as: :text, label: false, class: "form-control" %>
  </div>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Save game", class: "btn btn-primary" %>
<% end %>
