
<div class="banner">>
  <div class="container">
    <h1>RENTA GAMES</h1>
    <p>Here you can rent your videogames for any console!</p>
    <%= mail_to "cbotero2709@gmail.com", "Contact Us", class: "btn btn-primary" %>
  </div>
</div>

<% @games.each do |game| %>
  <% ava = true %>
  <% game.orders.each do |order| %>
    <% endd = order.created_at + (order.days * 86_400) %>
    <% if endd >= Time.now %>
      <% ava = false %>
      <% @unavailable << game %>
      <% break %>
    <% end %>
  <% end %>
  <% @available << game if ava %>
<% end %>

<div class="container">
  <div class="cards my-5">
    <% @available.each do |game| %>
    <% img = game.photo.attached? ? game.photo.key : "defaultgame" %>
    <%= link_to game_path(game), class: "unique-effect" do %>
        <div class="card-category opacity-100 shadow-lg" style="background-image: url('<%= cl_image_path img %>')"></div>
        <p class="text-center fs-4 text-secondary bg-white shadow p-3 mb-5 bg-body"><%= game.name.capitalize %></p>
      <% end %>
    <% end %>

    <% @unavailable.each do |game| %>
    <% img = game.photo.attached? ? game.photo.key : "defaultgame" %>
      <%= link_to game_path(game) do %>
        <div class="card-category opacity-50 shadow-none" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path img %>')"></div>
        <p class="text-center text-muted"><%= game.name.capitalize %></p>
      <% end %>
    <% end %>
  </div>
</div>
