<% desc = @game.description ? @game.description : '' %>
<% img = @game.photo.attached? ? @game.photo.key : "defaultgame" %>
<div class="row my-2 p-3">
  <div class="col-12 col-lg-6">
    <%= cl_image_tag img, width: 500, crop: :fill, class: "rounded" %>
  </div>
   <div class="col-12 col-lg-6">
    <h2 class="my-5 mb-4"><strong><%= @game.name.capitalize %></strong>
    <% if policy(@game).edit? %>
      <%= link_to raw("<i class='fa-solid fa-pencil mx-4'></i>"), edit_game_path(@game) %>
    <% end %>
    </h2>
    <p class="py-3"><%= desc %></p>
    <% if @available == true %>
      <% if user_signed_in? && current_user.role == "customer" %>
        <%= render "/orders/form", game: @game, order: @order, collection: @collection %>
      <% else %>
        <p>Please <%= link_to "Login", new_user_session_path %> as a customer to rent a game</p>
      <% end %>
      <div class="text-end mt-5">
    <% else %>
      <div class="text-end mt-5">
        <p>Sorry, Game Available in <strong><%= @available %> days</strong></p>
    <% end %>
      <%= mail_to @game.user.email, "Contact Provider", class: "btn btn-secondary" %>
      <%= link_to "More Games", user_games_path(@game.user), class: "btn btn-primary" %>
    </div>
  </div>
</div>
