<h2>Games (<%= @title %>)</h2>
<div class="container">
  <div class="cards my-3">
    <% @games.each do |game| %>
      <% opacity = 100 %>
      <% game.orders.each do |order| %>
        <% endd = order.created_at + (order.days * 86_400) %>
        <% if endd >= Time.now %>
          <% opacity = 50 %>
          <% break %>
        <% else %>
          <% opacity = 100 %>
        <% end %>
      <% end %>
      <% img = game.photo.attached? ? game.photo.key : "defaultgame" %>
      <%= link_to game_path(game) do %>
        <div class="card-category opacity-<%= opacity %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path img %>')">
          <%= game.name %>
        </div>
      <% end %>
    <%end %>
  </div>
</div>
