<h2 class="mb-5"><span class="me-4">Games (<%= @title %>) </span>
<% if current_user == @user && current_user.role == "provider" %>
  <%= link_to "+ Add Game", new_game_path, class: "btn btn-primary" %>
<% end %>
</h2>
<div class="cards my-3">
  <% @games.each do |game| %>
    <% opacity = 100 %>
    <% game.orders.each do |order| %>
      <% endd = order.created_at + (order.days * 86_400) %>
      <% if endd >= Time.now %>
        <% opacity = 50 %>
        <% break %>
      <% else %>
        <% opacity = 100 %>
      <% end %>
    <% end %>
    <% img = game.photo.attached? ? game.photo.key : "defaultgame" %>
    <%= link_to game_path(game), class: "unique-effect" do %>
      <div class="card-category opacity-<%= opacity %>" style="background-image: url('<%= cl_image_path img %>')"></div>
      <p class="text-center fs-4 text-secondary bg-white shadow p-3 mb-5 bg-body"><%= game.name.capitalize %></p>
    <% end %>
  <%end %>
</div>
